/*** DEFAULTS ***/
*
{
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	height: 100%;
	text-align: center;
}

body
{
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	width: auto;
	background-color: #fff;
	scroll: 0 0;
	/* part 1 of 2 centering hack */
}

img
{
	border: none;
}

li
{
	list-style: none;
}

ul.nav
{
	list-style: none;
}


table
{
	margin: 0px;
	padding: 0px;
}

optgroup
{
	color: #555555;
	font-style: normal;
	padding-left: 3px;
}

option
{
	padding-left: 5px;
	color: #999999;
}

#credits
{
	text-align: center;
	margin-top: 20px;
	font-size: 0.8em;
}

.dbdFoot
{
	background: url(/images/gfx/dbd_footer_icon.gif) no-repeat top center;
	margin-top: 5px;
	padding-top: 12px;
}

.errorCon
{
	width: 500px;
	height: 250px;
	margin: auto;
	padding-top: 30px;
}

/**** UNIVERSAL CLASSES ****/

.left
{
	float: left;
}

.right
{
	float: right;
}

.bdrRight
{
	border-right: 1px solid #cccccc;
}

.rightBrdr
{
	border-right: 1px solid #b9b9b9;
}

.noBrdr
{
	border: none !important;
}


